body{
  
  font-family: 'Bree Serif', serif;
  background-color: blanchedalmond;
}
header{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: chocolate;
}

main{
  display: flex; 
  flex-direction: column;
  gap: 1rem;
  margin: 50px 15px 50px 15px;
}

.readings-container {
  background-color: chocolate;
  padding: 15px;
}

.list-container {
  background-color: beige;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  padding-right: 40px;
}

.list li a{
  text-decoration: none;
  color: chocolate;
}

.list li a:hover{
  padding: 5px;
  background-color: chocolate;
  border-radius: 5px;
  color: white;
}

.profile-img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 0 10px 0  black;
}

.main-title{
  text-align: center;
  color: whitesmoke;
  font-size: 1.2rem;
}

.title{
  color: chocolate;
}

#userInput {
  padding: 5px;
  border-radius: 5px;
}

#userInput:hover {
  background-color: beige;
}

#addButton {
  border-radius: 15px;
  font-size: 1.2rem;
}

#addButton:hover {
  box-shadow: 0 0 5px 0 black;
}

button:hover {
  box-shadow: 0 0 5px 0 black;
}

/* TO DO PART */

.todoFormContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: chocolate;
  text-align: center;
  padding: 15px
}

.todoForm{
  background-color: beige;
  padding-left: 5px;
  padding-right: 5px;
}

.todoForm h1 {
  color: chocolate;
  border-bottom: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}

.todoForm #todoList {
  
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 15px;
  margin-bottom: 20px;
  
}

.todoForm #todoList li {
  background-color: white;
  border: 2px dashed black;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todoForm #addTask{
  padding-bottom: 20px;
}

.footer-div {
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.7rem;
}

.footer-div button {
  font-size: 0.6rem;
}

  

  